extends ../layout

block content

	p
		a(href="/portfolio") &larr; Back to portfolio

	h3 #{title}

	p.one-third.left(style="margin-top: 2em") Resulting from self-guided research, this page collects already existing social media feeds onto a single page for the duration of a move to make sharing with family and friends a little easier.

	img.thumb.two-thirds.right(src="/img/portfolio/share.png")


	h4 Details 
	ul.list
		li
			p.one-third.left Relating the ease of today's moves with the difficulties of decades and centuries passed is a way of celebrating America's history and U-Haul's contribution to it. 
			img.thumb.two-thirds.right(src="/img/portfolio/share1.png")
		li
			p.one-third.left During a move, opportunities arise to take a break and visit locations celebrated by the 
				a(href="http://uhaul.com/supergraphics") SuperGraphics series
				| , as well as take advantage of discounts, deals, services and anything else that can make a move just a little more smooth or fun. Metadata from social feeds is also scanned to add to the map.
			img.thumb.two-thirds.right(src="/img/portfolio/share2.png")
		li
			p.one-third.left Social feeds are pulled in, creating a scrapbook of sorts, both as the move is happening and to reflect on afterwards.
			img.thumb.two-thirds.right(src="/img/portfolio/share3.png")
		li
			p.one-third.left People move everyday, some are especially creative, this is a way to highlight them.
			img.thumb.two-thirds.right(src="/img/portfolio/share4.png")
		li
			p.one-third.left For friends and family that are watching, a gift certificate can help to jump start a new life at a time that pennies can get tight.
			img.thumb.two-thirds.right(src="/img/portfolio/share5.png")
