extends ../layout

block content

	p
		a(href="/portfolio") &larr; Back to portfolio

	h3 #{title}

	div.center
		p U-Haul's intranet needed an update for the mobile age.
		a(href="/img/portfolio/tools_mobile.jpg")
			img.center.thumb(data-original="/img/portfolio/tools_mobile.jpg", src="/img/placeholder.gif", alt="")



	h4 Details 
	ul.list
		li
			img.thumb.two-thirds.left(src="/img/portfolio/tools.jpg")
			p.one-third.left Combined information that previously required separate logins, access codes and devices
			p.one-third.left Updates created from user interviews, site visits, logs and analytics.
			p.one-third.left Old code was updated to meet new programming standards.
			p.one-third.left Existing applications were enhanced with mobile functionality.