extends ../layout

block content

	h2 U-Haul Trip Sharing

	p Resulting from self-guided research as a result of watching people share moves in various ways on various social media services, this page collects already existing social media feeds onto a single page for the duration of a move to make sharing with family and friends a little easier.

	ul.clear.one-third.left
		li Relating the ease of today's moves with the difficulties of moves in decades passed is a subtle way of celebrating America's history and U-Haul's contribution to it. What previously could take dangerous weeks, is now a a couple leisurely days.

		li During a move, opportunities arrive to visit locations celebrated by the SuperGraphics series are displayed, as well as available discounts, deals, services, and anything else that can make a move go just a little bit smoother.

		li Social feeds can be pulled in, creating a scrapbook of sorts, both as the move is happening and to reflect on afterwards.

		li People move everyday, some are especially creative during theres, this is a way to highlight those folks who want to be.

		li For friends and family that are watching, a gift certificate can help to jump start a new life when pennies might be tight.



	img(src="/img/work/trip.jpg").two-thirds.right