!!!5
html
	head
		title David Crowley - #{title}
		link(rel='stylesheet', href='/css/jquery.fs.boxer.css')
		link(rel='stylesheet', href='/css/style.css')

	body(id='#{cssID}')
		header
			a(href='/')
				h1
					span(data-shadow-text="David Crowley") David Crowley
			p.byline
				| Interaction designer, front-end developer and general enthusiast.<br/>
				a(href="http://twitter.com/mrdcrowley") @mrdcrowley
				| , 
				a(href="mailto:david@slantback.net") david@slantback.net
				| , 
				a(href="http://github.com/mrdcrowley") GitHub
				| , 
				a(href="http://slantback.tumblr.com/") Tumblr
				|  and 
				a(href="http://www.youtube.com/user/slantback/videos") YouTube
				| .
		#container
			#content
				block content
				block blogPost
				block blogPreview
				block blogList
				block tumblr
		footer
			p <a href="https://github.com/mrdcrowley/david-crowley-com">View on Github</a> | <a href="/portfolio/">Portfolio</a>

	block scripts
		script(src='/js/jquery.js')
		script(src='/js/jquery.fs.boxer.js')
		script(src='/js/jquery.lazyload.min.js')
		script(src='/js/storyjs-embed.js')
		script(src='/js/david-crowley-com.js')