doctype html
html
	head
		title David Crowley - #{title}
		link(rel='stylesheet', href='/css/jquery.fs.boxer.css')
		link(rel='stylesheet', href='/css/style.css')

	body(id='#{cssID}')
		header
			h1#logo
				a(href='/') David Crowley
			p#byline
				| Interaction designer, coder and human enthusiast.<br/>
				a(href="http://twitter.com/mrdcrowley") @mrdcrowley
				| ,&nbsp;
				a(href="mailto:slantback@gmail.com") slantback@gmail.com
				| ,&nbsp;
				a(href="http://github.com/mrdcrowley") GitHub
				| ,&nbsp;
				a(href="http://slantback.tumblr.com/") Tumblr
				|  and&nbsp;
				a(href="http://www.youtube.com/user/slantback/videos") YouTube
				| .
		#container
			#content
				block content
				block blogPost
				block blogPreview
				block blogList
				block tumblr
		footer
			p <a href="https://github.com/mrdcrowley/david-crowley-com">View on Github</a>

	block scripts
		script(src='/js/jquery.js')
		script(src='/js/jquery.fs.boxer.js')
		script(src='/js/jquery.lazyload.min.js')
		script(src='/js/storyjs-embed.js')
		script(src='/js/david-crowley-com.js')