!!!5
html
	head
		title #{title} - David Crowley
		link(rel='stylesheet', href='/css/style.css')

	body
		header.waitToAnimate
			a(href='/')
				h1
					span(data-shadow-text="David Crowley") David Crowley
			p.byline Interaction designer, charmed by simplicity in digital interactions
		#container
			#content
				block content
		footer
			p Running on node with Express, Jade and Stylus
			p <a href="https://github.com/mrdcrowley/david-crowley-com">Fork on Github</a> | <a href="/work/">Portfolio</a>

	block scripts
		script(src='/js/jquery.js')
		script(src='/js/jquery.lazyload.min.js')
		script(src='/js/david-crowley-com.js')

// FUTURE STUFF
//				block tumblr
//				block work
//			#sidebar
//				block contact
//				block twitter
//				block youtube
//				block github