extends layout

block content

	h2 Portfolio

	h3 Research
	ul#research.list
		li
			h5 Field research
			p Visit people and places to shadow and interview. Scour recorded sessions, phone calls and analytics.
		li
			h5 User tests 
			p Use research to define tasks, create personas and conduct user tests, remotely and in person.
		li
			h5 Findings
			p Convert findings into reports, sketches, wireframes and working mockups.
	h3 Prototyping
	ul.list
		li
			img(data-original="/img/work/sketching.jpg", src="/img/placeholder.gif", alt="", height="280", width="600", class="thumb one-half left")
			h5 Sketching
			p Rough sketches and drawings can quickly communicate ideas to find out which ones are worth pursuing.
		li.clear
			img(data-original="/img/work/wireframes.jpg", src="/img/placeholder.gif", alt="", height="280", width="600", class="thumb one-half left")
			h5 Wireframing
			p Usually in Omnigraffle or one of the 
				a(href="http://balsamiq.com") online
				| &nbsp;
				a(href="http://gomockingbird.com") tools
				| .
		li.clear
			img(data-original="/img/work/clickable.jpg", src="/img/placeholder.gif", alt="", height="280", width="600", class="thumb one-half left")
			h5 Clickable mockups
			p Using HTML, PDFs or online tools, putting something usable in front of users and stakeholders can communicate and test ideas quickly and before serious development begins.
	h3 Product creation
	ul#products.list
		li.one-half.left
			h4 U-Haul Trip Sharing
			a(href="/portfolio/sharing")
				img(data-original="/img/work/trip.jpg", src="/img/placeholder.gif", alt="", height="1861", width="955", class="thumb one-half left")
			p This page collects social media feeds onto a single page for the duration of a move to make sharing with family and friends a little easier.
		li.one-half.right
			h4 U-Haul Moving Companion
			a(href="/portfolio/companion")
				img(data-original="/img/work/companion.jpg", src="/img/placeholder.gif", alt="", height="922", width="385", class="thumb one-half left") during a move to make it easily shareable.
			p The result of studying people moving, this mobile site helps the customer throughout their move, eliminating the need for many visits and phone calls and reducing confusion while moving.
		li.clear
			h4 Intranet applications
			p.one-third Condensed a sprawling intranet into smaller, more usable apps and updated the code to work with mobile devices.
			div.two-thirds.right
				a(href="/img/work/tools.jpg")
					img(data-original="/img/work/tools.jpg", src="/img/placeholder.gif", alt="", height="1045", width="987", class="thumb one-half right")
				a(href="/img/work/tools_mobile.jpg")
					img(data-original="/img/work/tools_mobile.jpg", src="/img/placeholder.gif", alt="", height="744", width="396", class="thumb one-third right")

	h3 Coding
	div.two-thirds.right
		a(href="http://reliefweb.int/")
			img(data-original="/img/work/reliefweb.jpg", src="/img/placeholder.gif", alt="", height="2597", width="1046", class="thumb one-third right")
		a(href="https://itunes.apple.com/app/votolatino/id568988087?mt=8")
			img(data-original="/img/work/voto-ios.jpg", src="/img/placeholder.gif", alt="", height="480", width="320", class="thumb one-third right")
		a(href="http://amerco.com")
			img(data-original="/img/work/amerco.jpg", src="/img/placeholder.gif", alt="", height="904", width="680", class="thumb one-third right")
		a(href="/img/work/seaphone.jpg")
			img(data-original="/img/work/seaphone.jpg", src="/img/placeholder.gif", alt="", height="1485", width="760", class="thumb one-third right")
		a(href="/img/work/cloud.jpg")
			img(data-original="/img/work/cloud.jpg", src="/img/placeholder.gif", alt="", height="1225", width="1140", class="thumb one-third right")
		a(href="/img/work/seabourne.jpg")
			img(data-original="/img/work/seabourne.jpg", src="/img/placeholder.gif", alt="", height="900", width="1200", class="thumb one-third right")
	ul.list
		li
			h5 Languages
			p Javascript/jQuery, Python, PHP, MYSQL
		li
			h5 HTML, CSS and Preprocessors
			p LESS, SaSS, Stylus
		li
			h5 Environments
			p Drupal, Node, PhoneGap (Android and iOS), Visual Studio, Wordpress
	p.subtle.small This site uses Node, Jade, Express and Stylus, see it on 
		a(href="https://github.com/mrdcrowley/david-crowley-com") GitHub
		| .
	h3 Arduino and Raspberry Pi
	ul.list
		li
			h5 Socialite
			p The 
				a(href="https://github.com/mrdcrowley/socialite") Socialite
				|  lights up when a tumblr gets some 
				span.heart &#9829;
				| .
		li
			h5 Ultimate Machine
			p
				a(href="https://github.com/mrdcrowley/ultimate_machine") Created a version
				|  of information theorist Claude Shannon's 
				a(href="http://www.kk.org/thetechnium/archives/2008/03/the_unspeakable.php") Ultimate Machine
				| .
			iframe(height="360", width="640", src="http://www.youtube.com/embed/k3xFX3sR0iE", frameborder="0", allowfullscreen)

