@import url("http://fonts.googleapis.com/css?family=Raleway:600,900");
@import url("http://fonts.googleapis.com/css?family=Arvo");
@import url("http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
/* =Variables */
/* =Text */
a {
  color: #00a6cd;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
  -ms-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}
a:hover {
  color: #00bfeb;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1em;
}
em {
  font-style: italic;
}
strong {
  font-weight: bold;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#container p,
.list {
  padding-bottom: 1em;
}
#container p li,
.list li {
  margin-bottom: 1em;
}
.small {
  font-size: 80%;
}
/* =Structure */
body {
  background: #faf9f0;
  color: #444;
  font-family: 'Noto Sans', Georgia, sans-serif;
  line-height: 150%;
  min-width: 600px;
}
header {
  background: transparent url("/img/headerBg.png") bottom repeat-x;
  margin-bottom: 4em;
  padding: 1em 100px;
  padding-bottom: 3em;
  text-align: center;
  text-shadow: 0px -1px 0px #242424;
  -webkit-transition: height 0.2s linear;
  -moz-transition: height 0.2s linear;
  -o-transition: height 0.2s linear;
  -ms-transition: height 0.2s linear;
  transition: height 0.2s linear;
}
header h1 {
  color: rgba(0,0,0,0.5);
  font: 600 1.5em/1 'Raleway', sans-serif;
  letter-spacing: 0.5em;
  margin: 0;
}
header h1 span {
  font-size: 2.5em;
  z-index: 100;
  text-shadow: 0 0.08em 0 #9cb8b3;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
header h1 span,
header h1 span:after {
  font-weight: 900;
  color: #efedce;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  letter-spacing: 0.1em;
  padding: 0.2em 0 0.25em 0;
}
header h1 span:after {
  content: attr(data-shadow-text);
  color: rgba(255,255,255,0.25);
  text-shadow: none;
  position: absolute;
  left: 0;
  top: 0.165em;
  z-index: -1;
  -webkit-mask-image: url("http://f.cl.ly/items/1t1C0W3y040g1J172r3h/mask.png");
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
header p.byline {
  color: #707070;
  font-family: Arvo;
  margin: 0;
}
header p.byline a {
  color: rgba(255,255,255,0.5);
  text-decoration: none;
}
header p.byline a:hover {
  color: #efedce;
}
#container {
  padding-left: 100px;
  padding-right: 100px;
}
#contact ul li {
  font-weight: 700;
}
#contact ul li a {
  color: #333;
  text-decoration: none;
}
#contact ul li a:hover {
  color: #00a6cd;
  text-shadow: #fff -1px -1px 0;
}
#content {
  clear: both;
  float: left;
  text-align: center;
  width: 100%;
}
#content h2 {
  color: rgba(0,0,0,0.2);
  font-family: Arvo, Georgia, sans-serif;
  font-size: 240%;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  padding-bottom: 0.5em;
}
#content h3 {
  background: rgba(0,0,0,0.2);
  clear: both;
  font-family: Arvo, Georgia, sans-serif;
  font-size: 180%;
  font-weight: 700;
  padding: 0.5em;
}
#content h4 {
  clear: both;
  color: #666;
  font-size: 140%;
  font-weight: 700;
}
#content h5 {
  color: #666;
  font-weight: bold;
  margin: 0;
}
footer {
  clear: both;
  font-size: 80%;
  margin: auto;
  opacity: 0.5;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  padding-top: 5em;
  text-align: center;
}
/* =Posts */
ul.posts {
  margin-bottom: 3em;
}
ul.posts li {
  border-bottom: 1px solid rgba(0,0,0,0.05);
  font-family: Arvo, Georgia, sans-serif;
  padding: 40px 0;
  margin: 0;
}
ul.posts li.quote {
  color: #999;
  font-size: 125%;
  line-height: 160%;
}
ul.posts li.quote .source a:first-child {
  display: block;
  padding: 0.5em;
}
ul.posts li.quote .source a:first-child.tumblr_blog {
  display: inline;
  padding: 0;
}
ul.posts li.quote .source a:first-child:hover {
  background: #00a6cd;
  color: #fff;
  text-decoration: none;
}
ul.posts li.quote .source a:first-child:hover:after {
  content: " →";
}
ul.posts li:first-child {
  padding-top: 0;
}
ul.posts li p:last-child {
  margin-bottom: 0;
}
ul.posts li img {
  background-color: #fff;
  max-width: 70%;
  padding: 15px;
}
/* =pageWork =work */
#pageWork #content {
  text-align: left;
}
#pageWork .heart {
  color: #f00;
}
#pageWork #products li.one-half p {
  margin-right: 2em;
}
#pageWork #research.list .one-third p {
  padding-right: 2em;
}
#pageWork iframe {
  background-color: #fff;
  max-width: 70%;
  padding: 15px;
}
/* =Utilities */
.one-half {
  clear: none;
  float: left;
  width: 45%;
}
.one-third {
  clear: none;
  float: left;
  width: 33%;
}
.two-thirds {
  clear: none;
  float: left;
  width: 66%;
}
.center {
  text-align: center;
}
.clear {
  clear: both;
}
.left {
  float: left;
}
.nowrap {
  white-space: nowrap;
}
.right {
  float: right;
}
.subtle {
  opacity: 0.75;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  filter: alpha(opacity=75);
}
.thumb {
  background-color: #fff;
  height: auto;
  margin-bottom: 1em;
  max-width: 70%;
  padding: 15px;
  position: relative;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  -ms-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}
.thumb.left {
  margin-right: 1em;
}
.thumb.right {
  margin-left: 1em;
}
.thumb.small {
  max-width: 300px;
}
a .thumb:hover {
  background-color: #00bfeb;
}
/* =Boxer =Modal */
#boxer .boxer-close {
  display: none;
}
/* =Media =Queries */
@media all and (max-device-width: 851px) {
  body {
    font-size: 180%;
  }
  header {
    padding: 1em;
  }
  #container {
    padding: 0 2em;
  }
  .one-half,
  .one-third,
  .two-thirds {
    float: none;
    width: auto;
  }
  .left,
  .right {
    float: none;
  }
  .thumb,
  .thumb.small,
  .thumb.left,
  .thumb.right {
    float: none;
    height: auto;
    margin: 0;
    margin-bottom: 1em;
    max-width: 100%;
    outline: 0;
    width: 100%;
  }
}
