@import 'nib'
@import url('http://fonts.googleapis.com/css?family=Arvo')
@import url('http://fonts.googleapis.com/css?family=GFS+Didot')
@import url('http://fonts.googleapis.com/css?family=Raleway:600,900')
@import url('http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic')

global-reset()


/* =Variables */
colorBackground = #fff
colorBody = #444
colorLink = #666
colorLinkHover = #333
colorHeader = #333
colorMain = #333
fontBody = Arvo, Georgia, sans-serif
fontAlt = 'Noto Sans', Georgia, sans-serif
animationSpeed = .2s


/* =Text */
a
	color colorLink
	transition color animationSpeed ease-out
	transition background-color animationSpeed ease-out
	&:hover
		color colorLinkHover
p, h1, h2, h3, h4, h5, h6
	margin-bottom 1em
h1, h2, h3, h4, h5, h6
	color #666
	font-family fontAlt
code
	background rgba(0,0,0,.05)
	font-family: Consolas, monospace;
	padding 0 .25em
em
	font-style italic
strong
	font-weight bold
ul
	list-style none
	margin 0
	padding 0
	li
		margin-bottom 1em
#container p
.list
	margin-bottom 1em
	li
		margin-bottom 1em
		overflow hidden
.small
	font-size: 80%


/* =Structure */
body
	background colorBackground
	color lighten(colorHeader, 50%)
	font-family fontBody
	line-height 170%
header
	background transparent url('/img/headerBg.png') bottom repeat-x
	border-top .25em solid lighten(colorHeader, 15%)
	margin-bottom 3em
	padding .5em
	padding-bottom 0
	text-align center
	text-shadow 0px -1px 0px darken(colorHeader, 30%)
	#logo a
		background transparent url("/img/logo.png")
		display block
		height 55px
		margin .5em auto
		text-indent -99999px
		width 91px
	#byline
		color lighten(colorHeader,30%)
		font-family Arvo
		margin 0
		a
			color rgba(255,255,255,.5)
			text-decoration none
			&:hover
				color #fff
	#hire
		background #333
		border 1px solid #fff
		color #fff
		display inline-block
		margin-top 1em
		padding .5em
		text-decoration none
		text-shadow none
		&:hover
			background #fff
			color #333
#container
	padding 0 1.5em
#contact
	ul
		li
			font-weight 700
			a
				color colorHeader
				text-decoration none
			a:hover
				color colorLink
				text-shadow #fff -1px -1px 0;
#content
	clear both
	margin auto
	max-width 45em
	h2
		background rgba(0,0,0,.1)
		display inline-block
		font-size 125%
		font-style normal
		font-weight 700
		margin-bottom 3em
		padding 1em
	h3
		background rgba(0,0,0,.2)
		clear both
		font-family "Noto Sans"
		font-size 180%
		padding .5em
	h4
		clear both
		font-size 140%
		font-weight 700
	h5
		font-weight bold
		margin 0

footer
	clear both
	font-size 80%
	margin auto
	padding-top 5em
	text-align center

/* =Blog */
.blog
	color lighten(colorHeader, 50%)
	font-size: 125%
	line-height 160%
	margin-bottom 3em
	text-align left
	h4
		margin 0
		a
			color colorBody
			font-family fontAlt
			display inline
			text-decoration none
			&:hover
				text-decoration underline
.blogPreview
	background rgba(0,0,0,.05)
	overflow hidden
	padding 1em
	padding-bottom 0
.meta
	clear both
	color lighten(colorHeader, 65%)
	font-size 75%
	margin 0
	a
		color lighten(colorHeader, 65%)
		&:hover
			text-decoration underline
#blogList
	clear both
	text-align left
	ul.list
		li
			border-top 1px solid rgba(0,0,0,.05)
			display block
			margin 0
			padding 1em
			&.active
				background rgba(0,0,0,.05)
				a
					color colorBody
					text-decoration none
			.meta
				float right


/* =tumblr */
#tumblr
	ul.posts
		li
			border-bottom 1px solid rgba(0,0,0,.25)
			clear left
			font-size 125%
			line-height 160%
			overflow hidden
			padding 2em 1em
			margin auto
			img.thumb
				border 1px solid rgba(0,0,0,.25)
				background-color #fff
				display block
				float right
				max-width (33% - 2em)
				margin-bottom .5em
				margin-left 1em
			&.quote
				.source
					a:first-child
						display block
						padding .5em
						&.tumblr_blog
							display inline
							padding 0
						&:hover
							background colorLinkHover
							color #fff
							text-decoration none
							&:after
								content " »"
			&:first-child
				padding-top 0
			p:last-child 
				margin-bottom 0

/* =portfolio */
#portfolio
	a
		h4
			color colorLink
		&:hover h4
			color colorLinkHover
	h3
	h4
	h5
		font-family "Raleway"
		font-weight 900
	.heart
		color red
	#products
		li.one-half
			p
				margin-right 2em
	iframe
		background-color #fff
		max-width (100% - 30px)
		padding 15px

/* =pagePiece */
#pagePiece
	h3
	h4
	h5
		font-family "Raleway"
		font-weight 900
	h4
		padding-top 2em
	.list
		li
			border-top 1px solid #ccc
			clear both
			padding-bottom 2em
			padding-top 2em


/* =Utilities */
.one-half
	clear none
	float left
	width w = 45%
.one-third
	clear none
	float left
	width 31%
.two-thirds
	clear none
	float left
	width 64%
.bullets
	list-style-type disc
	li
		margin-top 1em
		margin-left 1em
		padding-left .25em
.center
	text-align center
.clear
	clear both
.left
	float left
.nowrap
	white-space nowrap
.right
	float right
.subtle
	opacity .75
.thumb
	background-color #fff
	height auto
	margin-bottom 1em
	position relative
	transition background-color animationSpeed ease-out
	&.left
		margin-right 1em
	&.right
		margin-left 1em
	&.small
		max-width 300px
	a &:hover
		background-color colorLinkHover


/* =Boxer =Modal */
#boxer .boxer-close
	display none
	

/* =Media =Queries */

@media all and (max-device-width: 751px)
	body
		font-size 200%
	header
		#logo a
			background transparent url("/img/logo@2x.png")
			height 109px
			width 181px
	#container
		padding 0 1em
	.one-half,
	.one-third,
	.two-thirds
		float none
		width auto
	.left,
	.right
		float none
	.thumb
	.thumb.small
	.thumb.left
	.thumb.right
	img
		float none
		height auto
		margin 0
		margin-bottom 1em
		max-width 100%
		outline 0
		width 100%