@import url("http://fonts.googleapis.com/css?family=Arvo");
@import url("http://fonts.googleapis.com/css?family=Playfair+Display:400,700,900,400italic,700italic,900italic");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
/* =Variables */
/* =Text */
a {
  color: #666;
  -webkit-transition: color 0.2s ease-out;
  -moz-transition: color 0.2s ease-out;
  -o-transition: color 0.2s ease-out;
  -ms-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  -ms-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}
a:hover {
  color: #333;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #666;
  font-family: 'PlayFair Display', Georgia, sans-serif;
}
code {
  background: rgba(0,0,0,0.05);
  font-family: Consolas, monospace;
  padding: 0 0.25em;
}
em {
  font-style: italic;
}
strong {
  font-weight: bold;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul li {
  margin-bottom: 1em;
}
#container p,
.list {
  margin-bottom: 1em;
}
#container p li,
.list li {
  margin-bottom: 1em;
  overflow: hidden;
}
.small {
  font-size: 80%;
}
/* =Structure */
body {
  background: #fff;
  color: #999;
  font-family: Arvo, Georgia, sans-serif;
  line-height: 170%;
}
header {
  background: #333 url("/img/slantedDark.png") center bottom repeat-x;
  border-top: 0.25em solid #525252;
  font-family: 'PlayFair Display', Georgia, sans-serif;
  font-size: 125%;
  font-style: italic;
  margin-bottom: 3em;
  padding: 0.5em;
  padding-bottom: 0;
  text-align: center;
}
header #logo a {
  background: transparent url("/img/logo.png");
  display: block;
  height: 55px;
  margin: 0.5em auto;
  text-indent: -99999px;
  width: 91px;
}
header #byline {
  color: #707070;
  margin: 0;
}
header #byline a {
  color: rgba(255,255,255,0.5);
  text-decoration: none;
}
header #byline a:hover {
  color: #fff;
}
header #hire {
  background: #333;
  border: 1px solid #fff;
  color: #fff;
  display: inline-block;
  margin-top: 1em;
  padding: 0.5em;
  padding-bottom: 0.75em;
  text-decoration: none;
}
header #hire:hover {
  background: #fff;
  color: #333;
}
#contact ul li {
  font-weight: 700;
}
#contact ul li a {
  color: #333;
  text-decoration: none;
}
#contact ul li a:hover {
  color: #666;
}
#content {
  clear: both;
  margin: auto;
}
#content h2,
#content h3,
#content h3 h4,
#content h5,
#content h6 {
  font-family: 'PlayFair Display', Georgia, sans-serif;
  font-weight: 400;
}
#content h2 {
  background: rgba(0,0,0,0.1);
  display: inline-block;
  font-size: 125%;
  font-style: italic;
  font-weight: 700;
  margin-bottom: 3em;
  padding: 1em;
}
#content h3 {
  background: rgba(0,0,0,0.2);
  clear: both;
  font-size: 180%;
  font-style: italic;
  font-weight: 900;
  padding: 0.5em;
}
#content h4 {
  clear: both;
  font-size: 140%;
  font-style: italic;
  font-weight: 700;
}
#content h5 {
  font-style: italic;
  margin: 0;
}
footer {
  clear: both;
  font-size: 80%;
  margin: auto;
  padding-top: 5em;
  text-align: center;
}
/* =tumblr */
#tumblr h3 {
  background: transparent;
}
#tumblr ul.posts {
  margin-bottom: 2em;
}
#tumblr ul.posts li {
  background: #fff url("/img/slantedLight.png") center bottom repeat-x;
  border: 0;
  clear: both;
  display: block;
  font-size: 125%;
  line-height: 160%;
  padding: 2em 1em;
  padding-bottom: 4em;
  padding-top: 1em;
  margin: 0 auto;
}
#tumblr ul.posts li p {
  margin: auto;
  max-width: 35em;
}
#tumblr ul.posts li a {
  color: #999;
}
#tumblr ul.posts li a:hover {
  color: #00a6cd;
}
#tumblr ul.posts li img.thumb {
  display: block;
  margin: auto;
  margin-bottom: 0.5em;
  max-width: 64%;
}
#tumblr ul.posts li.quote .source a:first-child {
  background: rgba(0,0,0,0.05);
  color: #999;
  display: block;
  margin: 1em -0.5em 0 -0.5em;
  padding: 0.5em;
  text-decoration: none;
}
#tumblr ul.posts li.quote .source a:first-child.tumblr_blog {
  display: inline;
  padding: 0;
}
#tumblr ul.posts li.quote .source a:first-child:hover {
  background: #00a6cd;
  color: #fff;
  text-decoration: none;
}
#tumblr ul.posts li.quote .source a:first-child:hover:after {
  content: " »";
}
#tumblr ul.posts li:nth-child(even) {
  background: #333 url("/img/slantedDark.png") center bottom repeat-x;
  color: #999;
}
#tumblr ul.posts li:nth-child(even) .source a:first-child {
  background: rgba(255,255,255,0.05);
  color: #999;
}
#tumblr ul.posts li:first-child {
  padding-top: 0;
}
#tumblr ul.posts li p:last-child {
  margin-bottom: 0;
}
/* =portfolio */
#portfolio #container {
  margin: auto;
  max-width: 45em;
  padding: 1em 2em;
}
#portfolio a h4 {
  color: #666;
}
#portfolio a:hover h4 {
  color: #333;
}
#portfolio .heart {
  color: #f00;
}
#portfolio #products li.one-half p {
  margin-right: 2em;
}
#portfolio iframe {
  background-color: #fff;
  max-width: 70%;
  padding: 15px;
}
/* =pagePiece */
#pagePiece #container {
  margin: auto;
  max-width: 45em;
  padding: 1em 2em;
}
#pagePiece h4 {
  padding-top: 2em;
}
#pagePiece .list li {
  border-top: 1px solid #ccc;
  clear: both;
  padding-bottom: 2em;
  padding-top: 2em;
}
/* =Utilities */
.one-half {
  clear: none;
  float: left;
  width: 45%;
}
.one-third {
  clear: none;
  float: left;
  width: 31%;
}
.two-thirds {
  clear: none;
  float: left;
  width: 64%;
}
.bullets {
  list-style-type: disc;
}
.bullets li {
  margin-top: 1em;
  margin-left: 1em;
  padding-left: 0.25em;
}
.center {
  text-align: center;
}
.clear {
  clear: both;
}
.left {
  float: left;
}
.nowrap {
  white-space: nowrap;
}
.right {
  float: right;
}
.subtle {
  opacity: 0.75;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  filter: alpha(opacity=75);
}
.thumb {
  background-color: #fff;
  height: auto;
  margin-bottom: 1em;
  position: relative;
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  -ms-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}
.thumb.left {
  margin-right: 1em;
}
.thumb.right {
  margin-left: 1em;
}
.thumb.small {
  max-width: 300px;
}
a .thumb:hover {
  background-color: #333;
}
/* =Media =Queries */
@media all and (max-device-width: 751px) {
  body {
    font-size: 200%;
  }
  header #logo a {
    background: transparent url("/img/logo@2x.png");
    height: 109px;
    width: 181px;
  }
  .one-half,
  .one-third,
  .two-thirds {
    float: none;
    width: auto;
  }
  .left,
  .right {
    float: none;
  }
  .thumb,
  .thumb.small,
  .thumb.left,
  .thumb.right,
  img {
    float: none;
    height: auto;
    margin: 0;
    margin-bottom: 1em;
    max-width: 100%;
    outline: 0;
    width: 100%;
  }
}
