@import 'nib'
@import url('http://fonts.googleapis.com/css?family=Raleway:600,900')
@import url('http://fonts.googleapis.com/css?family=Arvo')
@import url('http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic')

global-reset()


/* =Variables */
colorBackground = #faf9f0
colorLink = #00a6cd
colorLinkHover = lighten(colorLink, 10%)
colorHeader = #333
colorMain = #333
fontBody = 'Noto Sans', Georgia, sans-serif
fontAlt = Arvo, Georgia, sans-serif
animationSpeed = .2s


/* =Text */
a
	color colorLink
	transition color animationSpeed ease-out
	&:hover
		color colorLinkHover
p, h1, h2, h3, h4, h5, h6
	margin-bottom 1em
em
	font-style italic
strong
	font-weight bold
ul
	list-style none
	margin 0
	padding 0
#container p
.list
	padding-bottom 1em
	li
		margin-bottom 1em
.small
	font-size: 80%


/* =Structure */
body
	background colorBackground
	color #444
	font-family fontBody
	line-height 150%
	min-width 600px
header
	background url('/img/headerBg.png') bottom
	margin-bottom 4em
	padding 1em 100px
	padding-bottom 3em
	text-align center
	text-shadow 0px -1px 0px darken(colorHeader, 30%)
	transition height animationSpeed linear
	h1
		color: rgba(0,0,0,.5)
		font: 600 1.5em/1 'Raleway', sans-serif
		letter-spacing: .5em
		margin 0
		span
			font-size: 2.5em
			z-index: 100
			text-shadow 0 .08em 0 #9cb8b3
			transition all animationSpeed ease-out
			&:hover
				text-shadow 0 .04em 0 #9cb8b3
			&:active
				top: -200px
				text-shadow none
		span,
		span:after
			font-weight: 900
			color: #efedce
			white-space: nowrap
			display: inline-block
			position: relative
			letter-spacing: .1em
			padding: .2em 0 .25em 0
		span:after
			content: attr(data-shadow-text)
			color rgba(255,255,255,.25)
			text-shadow: none
			position: absolute
			left 0
			top .1650em
			z-index: -1;
			-webkit-mask-image: url(http://f.cl.ly/items/1t1C0W3y040g1J172r3h/mask.png)
			transition all animationSpeed ease-out
		span:hover:after
			left 0
			top: .0875em
	p.byline
		color lighten(colorHeader,30%)
		font-family Arvo
		margin 0
		a
			color rgba(255,255,255,.5)
			text-decoration none
			&:hover
				color #efedce
#container
	padding-left 100px
	padding-right 100px
#contact
	ul
		li
			font-weight 700
			a
				color colorHeader
				text-decoration none
			a:hover
				color colorLink
				text-shadow #fff -1px -1px 0;
#content
	clear both
	float left
	text-align center
	width 100%
	h2
		color rgba(0,0,0,.2)
		font-family fontAlt
		font-size 240%
		font-style italic
		font-weight bold
		text-align center
		padding-bottom .5em
	h3
		background rgba(0,0,0,.2)
		clear both
		font-family fontAlt
		font-size 180%
		font-weight 700
		padding .5em
	h4
		clear both
		color #666
		font-size: 140%
		font-weight 700
	h5
		color #666
		font-weight bold
		margin 0

footer
	clear both
	font-size 80%
	margin auto
	opacity .5
	padding-top 5em
	text-align center


/* =Posts */
ul.posts
	margin-bottom 3em
	li
		border-bottom 1px solid rgba(0,0,0,.05)
		font-family fontAlt
		padding 40px 0
		margin 0
		&.quote
			color lighten(colorHeader, 50%)
			font-size: 125%
			line-height 160%
			.source
				a
					display block
					padding .5em
					&:hover
						background colorLink
						color #fff
						text-decoration none
						&:after
							content " →"
		&:first-child
			padding-top 0
		p:last-child 
			margin-bottom 0
		img
			background #fff
			max-width (100% - 6px)
			padding 20px

/* =pageWork =work */
#pageWork
	#content
		text-align left
	.heart
		color red
	#products
		li.one-half
			p
				margin-right 2em

/* =Utilities */
.one-half
	clear none
	float left
	width 45%
.one-third
	clear none
	float left
	width 33%
.two-thirds
	clear none
	float left
	width 66%
.clear
	clear both
.center
	text-align center
.left
	float left
.right
	float right

.thumb
	height auto
	margin-bottom 2em
	outline 10px solid #fff
	transition outline animationSpeed ease-out
	&.left
		margin-right 2em
	&.right
		margin-left 2em
	&.small
		max-width 300px
	a &:hover
		outline 10px solid colorLinkHover


.nowrap
	white-space nowrap

.subtle
	opacity .75
	

/* =Media =Queries */

@media all and (max-device-width: 851px)
	header
		padding-left 2em
	#container
		padding 2em
	.one-half,
	.one-third,
	.two-thirds
		width auto
	.left,
	.right
		float none
	.thumb,
	.thumb.small
		float none
		height auto
		margin 0
		margin-bottom 1em
		max-width: 100%
		width 100%