@import 'nib'
@import url('http://fonts.googleapis.com/css?family=Raleway:600,900')
@import url('http://fonts.googleapis.com/css?family=Arvo')
@import url('http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic')

global-reset()


/* =Variables */
colorBackground = rgba(245,245,245,1)
colorBody = #444
colorLink = #666
colorLinkHover = #00a6cd
colorHeader = #333
colorMain = #333
fontBody = Arvo, Georgia, sans-serif
fontAlt = 'Noto Sans', Georgia, sans-serif
animationSpeed = .2s


/* =Text */
a
	color colorLink
	transition color animationSpeed ease-out
	transition background-color animationSpeed ease-out
	&:hover
		color colorLinkHover
p, h1, h2, h3, h4, h5, h6
	margin-bottom 1em
h1, h2, h3, h4, h5, h6
	color #666
	font-family fontAlt
code
	background rgba(0,0,0,.05)
	font-family: Consolas, monospace;
	padding 0 .25em
em
	font-style italic
strong
	font-weight bold
ul
	list-style none
	margin 0
	padding 0
	li
		margin-bottom 1em
#container p
.list
	margin-bottom 1em
	li
		margin-bottom 1em
		overflow hidden
.small
	font-size: 80%


/* =Structure */
body
	background colorBackground url('/img/bg.png')
	color lighten(colorHeader, 50%)
	font-family fontBody
	line-height 170%
	min-width 600px
header
	background transparent url('/img/headerBg.png') bottom repeat-x
	border-top .25em solid lighten(colorHeader, 15%)
	margin-bottom 3em
	padding .5em 100px
	padding-bottom 2em
	text-align center
	text-shadow 0px -1px 0px darken(colorHeader, 30%)
	transition height animationSpeed linear
	h1
		color: rgba(0,0,0,.5)
		font: 600 1.5em/1 'Raleway', sans-serif
		letter-spacing: .5em
		margin 0
		span
			font-size: 1.5em
			z-index: 100
			transition all animationSpeed ease-out
			&:hover
				// text-shadow 0 .04em 0 #9cb8b3
		span,
		span:after
			font-weight: 900
			color: colorBackground
			white-space: nowrap
			display: inline-block
			position: relative
			letter-spacing: .1em
			padding: .2em 0 .25em 0
		span:after
			content: attr(data-shadow-text)
			color rgba(255,255,255,.25)
			text-shadow: none
			position: absolute
			left 0
			top 3px
			z-index: -1;
			-webkit-mask-image: url(http://f.cl.ly/items/1t1C0W3y040g1J172r3h/mask.png)
			transition all animationSpeed ease-out
	p.byline
		color lighten(colorHeader,30%)
		font-family Arvo
		margin 0
		a
			color rgba(255,255,255,.5)
			text-decoration none
			&:hover
				color colorLinkHover
#container
	padding-left 100px
	padding-right 100px
#contact
	ul
		li
			font-weight 700
			a
				color colorHeader
				text-decoration none
			a:hover
				color colorLink
				text-shadow #fff -1px -1px 0;
#content
	clear both
	float left
	width 100%
	h2
		background rgba(0,0,0,.1)
		display inline-block
		font-size 125%
		font-style normal
		font-weight 700
		margin-bottom 3em
		padding 1em
	h3
		background rgba(0,0,0,.2)
		clear both
		font-size 180%
		font-weight 700
		padding .5em
	h4
		clear both
		font-size: 140%
		font-weight 700
	h5
		font-weight bold
		margin 0

footer
	clear both
	font-size 80%
	margin auto
	opacity .5
	padding-top 5em
	text-align center

/* =Blog */
.blog
	color lighten(colorHeader, 50%)
	font-size: 125%
	line-height 160%
	margin-bottom 3em
	text-align left
	h4
		margin 0
		a
			color colorBody
			font-family fontAlt
			display inline
			text-decoration none
			&:hover
				text-decoration underline
.blogPreview
	background rgba(0,0,0,.05)
	overflow hidden
	padding 1em
	padding-bottom 0
.meta
	clear both
	color lighten(colorHeader, 65%)
	font-size 75%
	margin 0
	a
		color lighten(colorHeader, 65%)
		&:hover
			text-decoration underline
#blogList
	clear both
	text-align left
	ul.list
		li
			border-top 1px solid rgba(0,0,0,.05)
			display block
			margin 0
			padding 1em
			&.active
				background rgba(0,0,0,.05)
				a
					color colorBody
					text-decoration none
			.meta
				float right


/* =tumblr */
#tumblr
	ul.posts
		margin-bottom 3em
		text-align center
		li
			border-bottom 1px solid rgba(0,0,0,.05)
			padding 40px 0
			margin 0
			&.quote
				font-size: 125%
				line-height 170%
				.source
					a:first-child
						display block
						padding .5em
						&.tumblr_blog
							display inline
							padding 0
						&:hover
							background colorLinkHover
							color #fff
							text-decoration none
			&:first-child
				padding-top 0
			p:last-child 
				margin-bottom 0
			img
				background-color #fff
				max-width (100% - 30px)
				padding 15px

/* =portfolio */
#portfolio
	#content
		text-align left
	.heart
		color red
	#products
		li.one-half
			p
				margin-right 2em
	iframe
		background-color #fff
		max-width (100% - 30px)
		padding 15px

/* =pagePiece */
#pagePiece
	#content
		text-align left
	h4
		padding-top 2em
	.list
		li
			border-top 1px solid #ccc
			clear both
			padding-bottom 2em
			padding-top 2em


/* =Utilities */
.one-half
	clear none
	float left
	width w = 45%
.one-third
	clear none
	float left
	width 31%
.two-thirds
	clear none
	float left
	width 64%
.bullets
	list-style-type disc
	li
		margin-top 1em
		margin-left 1em
		padding-left .25em
.center
	text-align center
.clear
	clear both
.left
	float left
.nowrap
	white-space nowrap
.right
	float right
.subtle
	opacity .75
.thumb
	background-color #fff
	height auto
	margin-bottom 1em
	position relative
	transition background-color animationSpeed ease-out
	&.left
		margin-right 1em
	&.right
		margin-left 1em
	&.small
		max-width 300px
	a &:hover
		background-color colorLinkHover


/* =Boxer =Modal */
#boxer .boxer-close
	display none
	

/* =Media =Queries */

@media all and (max-device-width: 751px)
	body
		font-size 200%
	header
		padding 1em
	#container
		padding 0 2em
	.one-half,
	.one-third,
	.two-thirds
		float none
		width auto
	.left,
	.right
		float none
	.thumb
	.thumb.small
	.thumb.left
	.thumb.right
	img
		float none
		height auto
		margin 0
		margin-bottom 1em
		max-width 100%
		outline 0
		width 100%