{{{
	"title" 	: "Cobbler's children have no shoes",
	"tags"  	: [ "site" ],
	"date" 		: "5-8-2013",
	"preview"	: "p A few notes and disclaimers about the new site."
}}}

h5 Notes and disclaimers

ul.bullets
	li This site is still being added to, please pardon any weirdness.
	li I have not checked this site in IE and I don't know when I will. I regret nothing.
	li 
		a(href="http://nodejs.org") Node
		|  is fun and works in 
		a(href="http://www.kitware.com/blog/home/post/433") quite a few places
		| . I recommend trying it for a project or two. Check out the code for 
		a(href="https://github.com/mrdcrowley/david-crowley-com") this site
		| , or a 
		a(href="https://github.com/clocklimited/BasicExpressSite") fresh template
		| .
	li
		a(href="http://jsantell.github.io/poet/") Poet
		|  is a nice tool for generating blog posts from static markdown or jade files that I'm using for this blog.
	li Two more things that have been especially pleasant:
		ul.bullets
			li The simplicity and price of 
				a(href="http://nodejitsu.com/") nodejitsu
				| . $3 a month for a simple site like this, and updating is as simple as 
				code jitsu deploy
				|  from the command line.
			li Everything about 
				a(href="http://github.com/") github
				| .