{{{
	"title" : "An Ode to Monkeys",
	"tags"  : [ "monkeys", "physical" ],
	"date" : "5-6-2013"
}}}

img.one-third.left.thumb(src="http://files.sugru.com/guides/image1s/1994/large/GALjgGtLSyu6bsmF9I6m?1355142452")
p sugru is the new self-setting rubber for fixing, modifying and improving your stuff.
