{{{
	"title" : "Sweet, sweet Sugru",
	"tags"  : [ "hack", "physical" ],
	"date" 	: "5-7-2013",
	"preview" : "<img src='http://files.sugru.com/guides/image1s/1994/large/GALjgGtLSyu6bsmF9I6m?1355142452' alt='' class='one-third left thumb' /><p><a href='http://sugru.com/'>Sugru</a> is the new self-setting rubber for fixing, modifying and improving your stuff.</p>"
}}}

img.one-third.left.thumb(src="http://files.sugru.com/guides/image1s/1994/large/GALjgGtLSyu6bsmF9I6m?1355142452")
p Sugru is the new self-setting rubber for fixing, modifying and improving your stuff.
